<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Reddit Scraper</title>
</head>
<body>
<nav>
        <div class="logo-container">
            <h2>REDDIT SCRAPER</h2>
            {{!-- <img src="images/reddit-logo.png"> --}}
        </div>
            <div class="nav-items">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">What is Sentiment Analysis?</a></li>
                    <li><a href="#try">Try it out!</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="feature">

        <div id="feature-header">
            <h1>   
                Analyze your favorite subreddit
            </h1>
        </div>
    </section>

    <section id="about">
        <div class="text-container">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptate commodi fugit obcaecati maxime, illum, minus quae quod facilis saepe eaque ut ratione, quia voluptatibus? Perferendis voluptates enim cum quibusdam maxime recusandae possimus quae nisi corporis, culpa tempora dolores officiis, error impedit rerum facere voluptatem iusto unde! Ea minima facilis delectus suscipit, hic neque impedit quia eligendi natus magnam porro non sunt. Sequi saepe ex corrupti omnis laudantium, voluptas cumque impedit minima earum odio tempore unde temporibus modi iusto architecto porro! Cumque molestias voluptatem laboriosam ut accusantium sint voluptatibus omnis laudantium illo, temporibus ab eveniet doloribus facilis quis sapiente quasi alias eligendi dicta odio ratione expedita quos. Reprehenderit natus odio veniam inventore porro, quidem quisquam nulla ea provident, sapiente a saepe aut est alias nisi cupiditate eius ipsam tenetur quod nihil dolore. Dolores, placeat. Nesciunt quas porro dolorem fugiat est aspernatur, qui voluptates delectus corporis atque totam labore voluptas animi esse, excepturi minima dolores aperiam ratione hic. Officiis, reprehenderit autem. Totam culpa laborum numquam dolor ipsum dolore, dolorum similique modi accusantium voluptate officiis unde aperiam nesciunt dolorem illo, nostrum esse quae dicta architecto voluptatem quibusdam? Deserunt, enim autem. Aspernatur officia, nihil saepe illum maxime ex. Molestiae itaque repellat hic voluptatum!</p>
        </div>

        <div class="img-container">
            <img src="images/about.jpg" alt="">
        </div>

    </section>


    <section id="submit">
         <div class="steps">
            <div class="steps-wrapper">
                <h2>1. Select the subreddit of your chocie.</h2>
                <h2>2. Copy its url.</h2>
                <h2>3. Paste it on the form, and submit!</h2>
            </div>
        </div>
        <div class="form-container">
            <h2>Copy a subreddit and submit!</h2>
            <form method="GET" action="/results">
                <label>URL</label>
                <input name="url" type="text">
                <input type="submit" value="Submit">
            </form>
        </div>

    </section>
</body>
</html>