<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>
<body>

    <h1>Scrape Results</h1>
    <div id="results">
    </div>
    <script>
        let resultsContainer =  document.getElementById('results');
        let urlParams = new URLSearchParams(window.location.search);
        let url = urlParams.get('url');
            let request = new XMLHttpRequest();
            request.timeout=15000;
            request.open('POST','/scrape');
            request.setRequestHeader('Content-type','application/json');
            request.send(JSON.stringify({url:url}));

            request.onreadystatechange=function(){
                if(this.status === 200){
                    let results = JSON.parse(this.responseText);
                    results.forEach((result)=>{
                            console.log(result['link']);
                            resultsContainer.textContent+=result['link'] + '\n';
                    })
                 }
            }
        
    </script>
    </div>
</body>
</html>